wheel
setuptools==58.2.0
git+https://github.com/PreciseXceleratedYieldPXY/kiteext.git
git+https://github.com/PreciseXceleratedYieldPXY/toolkit.git
git+https://github.com/PreciseXceleratedYieldPXY/omspy-brokers.git
kiteconnect
pandas
pyotp
selenium
webdriver_manager
bs4
rich
prettytable
yfinance
omspy
PyYAML
rich
python-telegram-bot
textblob
colorama
